@model eadp1.Models.User
@{
        Layout="~/Views/Shared/_Layout.cshtml";	
}
	
<div id="body">
    <div id="contents">
        <div class="login">
            <h3 style="color:yellow">Sign In to Shop , Track and Manage your Order  </h3>
            <form action="~/Account/login" id="register" method="post">
                <table border="0">
                    <tbody>
                        <tr>
                            <td style="color:yellow">@Html.LabelFor(model => model.name)</><td>
                            <td>@Html.TextBoxFor(model => model.name)<td>
                            <td style="color:yellow">@Html.ValidationMessageFor(model => model.name)</td>
                        </tr>

            
                        <tr>
                            <td style="color:yellow">@Html.LabelFor(model => model.password)<td>
                            <td><input id="password" maxlength="45" name="password" type="password" /></td>
                            <td><input name="Submit" type="submit" value="Login" style="padding-left:10px"/></td>     
                        </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>