@{
        Layout="~/Views/Shared/_Layout.cshtml";	
        }

<div id="body">
    <div id="contents">
        <h1>About</h1>
		<div id="sidebar">
			<h4>Why Us?</h4>
			<ul id="about-list">
                <li>
					<a href="~/Home/about">Latest Variety</a>
				</li>
				<li>
					<a href="~/Home/about">History</a>
				</li>
				<li>
					<a href="~/Home/about">Be our Customer</a>					

				</li>
			    <li>
					<a href="~/Home/about">What we have</a>
				</li>	
			</ul>
		</div>
		<div id="main">
			<h4>We Have Latest Variety</h4>
			<p>
				In our store you would see latest varities of every popular brands of footware in Pakistan. Fancy Shoes try to focus every need of customer.
			</p>				
            <h4>We Have History</h4>
			<p>
				Our store doing business since 1990. We have great exprience in this business of footware's. We have chairmanship of Bata Franchise in Pakistan from last 10 years. 
			</p>
			<h4>Be Our Customer</h4>
			<p>
				You would have to come just one time to our store, you will definitely be satistified. Product of our store best in comparison of other dealers , because we take customers as our family. 
			</p>
			<h4>What we have</h4>
			<p>
				We have footwares of nearly all popular brands of Pakistan. e.g Bata , Service , Borjan , Don Carlos  , Starlet and Cheetah.
 			</p>
        </div>
    </div>
</div>
	
