@{
        Layout="~/Views/Shared/_Layout.cshtml";	
        }

<div id="body">
	<div id="contents">
        <h1>Contact</h1>
		
	<div id="main">
        
            <h4>Contact Information</h4>
			<ul class="contacts">
				<li>
					<h4 style ="color:yellow">Address</h4>
					<p>
						Fancy Shoe Store, Railway Road, Faisal Bazar, Sadiq Abad
					</p>
				</li>
				<li>
					<h4 style ="color:yellow">Phone Number:</h4>
                    <p>0304-4247421 or 0333-477-8701</p>				
				</li>
				<li>
					<h4 style ="color:yellow">Fax Number:</h4>
					<p>
						068-5811111
					</p>
				</li>
			</ul>
			
				<!--<form action="~/Home/saveResponse" method="post" id="contacts">
				<table>
                    <tbody>
                        <tr>
                            <td><label>Name:</label></td>
							<td><input type="text" value=""></td>
						</tr> 
                        <tr>
                            <td><label>Email Address:</label></td>
							<td><input type="text" value=""></td>
						</tr> 
                        <tr>
                            <td><label>Phone:</label></td>
							<td><input type="text" value=""></td>
						</tr> 
                        <tr>
                            <td><label>Message:</label></td>
							<td><textarea></textarea></td>
						</tr> 
                        <tr>
								<td colspan="2"><input type="submit" value="" class="button"></td>
						</tr>
                    </tbody>
                </table>
            </form>-->
        </div>
    </div>
</div>
